<h1 class="text-center jumbotron">{{selectedPostSubreddit}}</h1>
<div class="form-group">
  <button routerLink="/subreddits/{{selectedSubId}}" class="btn btn-primary">Back to {{selectedPostSubreddit}}</button>
</div>
<div class="well">
  <h2>{{localSelectedPost.postTitle}}</h2>
  <hr>
  <h3>{{localSelectedPost.description}}</h3>
  <button *ngIf='user' (click)='deleteButtonClicked(selectedPost)' class="btn">Delete this post</button>
  <hr>
  <button *ngIf='!editingPost && user' (click)='beginEditing(localSelectedPost)' class="btn">Edit post</button>
  <div *ngIf='editingPost'>
    <h4>Editing post "{{(selectedPost | async)?.postTitle}}"</h4>
    <div class="form-group">
      <label>Title:</label>
      <input [(ngModel)]="localSelectedPost.postTitle" type="text" class="form-control">
      <label>Content:</label>
      <textarea [(ngModel)]='localSelectedPost.description' type="text" class="form-control"></textarea>
    </div>
    <button (click)='stopEditing(localSelectedPost)' class="btn">Save changes</button>
  </div>
</div>
<h3 class="text-center">Comments:</h3>
<div *ngFor="let comment of selectedPostComments | async" class="panel panel-danger">
  <div class="panel-body">
    {{comment.$value}}
  </div>
</div>
<div *ngIf='user'>
  <div class="form-group">
    <label>Add comment</label>
    <input #commentInput type="text" class="form-control">
  </div>
  <button type="button" class="btn btn-primary" (click)='formSubmit(commentInput.value); commentInput.value="";'>Post Comment</button>
</div>
