/* You can add global styles to this file, and also import other style files */

.container .jumbotron {
  position: absolute;
  top: -185px;
  left: 0;
  width: 100%;
}

.container {
  position: relative;
  margin-top: 30px;
}

#main-jumbotron {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .container .jumbotron {
    position: absolute;
    top: -155px;
    left: 0;
    width: 100%;
  }
}
